    body {
      direction: ltr;
    }

    @media (min-width: 768px) {
      .ladi-section .ladi-container {
        width: 960px;
      }
    }

    @media (max-width: 767px) {
      .ladi-section .ladi-container {
        width: 420px;
      }
    }

    @font-face {
      font-family: "REZWTiBCbhlbWUgRmxvcmFsLmZg";
      src: url("https://w.ladicdn.com/6446a909ce8883001284c7a2/dfvn-boheme-floral-20231216035421-pr2ds.otf")
    }

    body {
      font-family: "Roboto Slab", serif
    }
