body {
  direction: ltr;
}

@media (min-width: 768px) {
  .ladi-section .ladi-container {
    width: 1200px;
  }
}

@media (max-width: 767px) {
  .ladi-section .ladi-container {
    width: 420px;
  }
}

@font-face {
  font-family: "QWxleEJydXNoLVJlZVsYXIudHRm";
  src: url("https://w.ladicdn.com/6446a909ce8883001284c7a2/alexbrush-regular-20231227140924-smfab.ttf") format("truetype");
}

body {
  font-family: "Open Sans", sans-serif
}