        @-webkit-keyframes bounceInLeft {
          0% {
            opacity: 0;
            -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
          }

          60% {
            opacity: 1;
            -webkit-transform: translateX(30px);
            transform: translateX(30px);
          }

          80% {
            -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
          }

          100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }
        }

        @keyframes bounceInLeft {
          0% {
            opacity: 0;
            -webkit-transform: translateX(-2000px);
            -ms-transform: translateX(-2000px);
            transform: translateX(-2000px);
          }

          60% {
            opacity: 1;
            -webkit-transform: translateX(30px);
            -ms-transform: translateX(30px);
            transform: translateX(30px);
          }

          80% {
            -webkit-transform: translateX(-10px);
            -ms-transform: translateX(-10px);
            transform: translateX(-10px);
          }

          100% {
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
          }
        }

        @-webkit-keyframes rotateIn {
          0% {
            -webkit-transform-origin: center center;
            transform-origin: center center;
            -webkit-transform: rotate(-200deg);
            transform: rotate(-200deg);
            opacity: 0;
          }

          100% {
            -webkit-transform-origin: center center;
            transform-origin: center center;
            -webkit-transform: rotate(0);
            transform: rotate(0);
            opacity: 1;
          }
        }

        @keyframes rotateIn {
          0% {
            -webkit-transform-origin: center center;
            -ms-transform-origin: center center;
            transform-origin: center center;
            -webkit-transform: rotate(-200deg);
            -ms-transform: rotate(-200deg);
            transform: rotate(-200deg);
            opacity: 0;
          }

          100% {
            -webkit-transform-origin: center center;
            -ms-transform-origin: center center;
            transform-origin: center center;
            -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
            transform: rotate(0);
            opacity: 1;
          }
        }

        @-webkit-keyframes bounceInRight {
          0% {
            opacity: 0;
            -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
          }

          60% {
            opacity: 1;
            -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
          }

          80% {
            -webkit-transform: translateX(10px);
            transform: translateX(10px);
          }

          100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }
        }

        @keyframes bounceInRight {
          0% {
            opacity: 0;
            -webkit-transform: translateX(2000px);
            -ms-transform: translateX(2000px);
            transform: translateX(2000px);
          }

          60% {
            opacity: 1;
            -webkit-transform: translateX(-30px);
            -ms-transform: translateX(-30px);
            transform: translateX(-30px);
          }

          80% {
            -webkit-transform: translateX(10px);
            -ms-transform: translateX(10px);
            transform: translateX(10px);
          }

          100% {
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
          }
        }

        @-webkit-keyframes bounceIn {
          0% {
            opacity: 0;
            -webkit-transform: scale(0.3);
            transform: scale(0.3);
          }

          50% {
            opacity: 1;
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
          }

          70% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
          }

          100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }

        @keyframes bounceIn {
          0% {
            opacity: 0;
            -webkit-transform: scale(0.3);
            -ms-transform: scale(0.3);
            transform: scale(0.3);
          }

          50% {
            opacity: 1;
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
          }

          70% {
            -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
            transform: scale(0.9);
          }

          100% {
            opacity: 1;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
          }
        }

        @-webkit-keyframes bounceInUp {
          0% {
            opacity: 0;
            -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
          }

          60% {
            opacity: 1;
            -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
          }

          80% {
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
          }

          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }

        @keyframes bounceInUp {
          0% {
            opacity: 0;
            -webkit-transform: translateY(2000px);
            -ms-transform: translateY(2000px);
            transform: translateY(2000px);
          }

          60% {
            opacity: 1;
            -webkit-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
            transform: translateY(-30px);
          }

          80% {
            -webkit-transform: translateY(10px);
            -ms-transform: translateY(10px);
            transform: translateY(10px);
          }

          100% {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
          }
        }

        @-webkit-keyframes pulse {
          0% {
            -webkit-transform: scale(1);
            transform: scale(1);
          }

          50% {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }

          100% {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }

        @keyframes pulse {
          0% {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
          }

          50% {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
          }

          100% {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
          }
        }

        @-webkit-keyframes flipInY {
          0% {
            -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg);
            opacity: 0;
          }

          40% {
            -webkit-transform: perspective(400px) rotateY(-10deg);
            transform: perspective(400px) rotateY(-10deg);
          }

          70% {
            -webkit-transform: perspective(400px) rotateY(10deg);
            transform: perspective(400px) rotateY(10deg);
          }

          100% {
            -webkit-transform: perspective(400px) rotateY(0);
            transform: perspective(400px) rotateY(0);
            opacity: 1;
          }
        }

        @keyframes flipInY {
          0% {
            -webkit-transform: perspective(400px) rotateY(90deg);
            -ms-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg);
            opacity: 0;
          }

          40% {
            -webkit-transform: perspective(400px) rotateY(-10deg);
            -ms-transform: perspective(400px) rotateY(-10deg);
            transform: perspective(400px) rotateY(-10deg);
          }

          70% {
            -webkit-transform: perspective(400px) rotateY(10deg);
            -ms-transform: perspective(400px) rotateY(10deg);
            transform: perspective(400px) rotateY(10deg);
          }

          100% {
            -webkit-transform: perspective(400px) rotateY(0);
            -ms-transform: perspective(400px) rotateY(0);
            transform: perspective(400px) rotateY(0);
            opacity: 1;
          }
        }

        @-webkit-keyframes slideInLeft {
          0% {
            opacity: 0;
            -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
          }

          100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }
        }

        @keyframes slideInLeft {
          0% {
            opacity: 0;
            -webkit-transform: translateX(-2000px);
            -ms-transform: translateX(-2000px);
            transform: translateX(-2000px);
          }

          100% {
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
          }
        }

        @-webkit-keyframes wobble {
          0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }

          15% {
            -webkit-transform: translateX(-25%) rotate(-5deg);
            transform: translateX(-25%) rotate(-5deg);
          }

          30% {
            -webkit-transform: translateX(20%) rotate(3deg);
            transform: translateX(20%) rotate(3deg);
          }

          45% {
            -webkit-transform: translateX(-15%) rotate(-3deg);
            transform: translateX(-15%) rotate(-3deg);
          }

          60% {
            -webkit-transform: translateX(10%) rotate(2deg);
            transform: translateX(10%) rotate(2deg);
          }

          75% {
            -webkit-transform: translateX(-5%) rotate(-1deg);
            transform: translateX(-5%) rotate(-1deg);
          }

          100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }
        }

        @keyframes wobble {
          0% {
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
          }

          15% {
            -webkit-transform: translateX(-25%) rotate(-5deg);
            -ms-transform: translateX(-25%) rotate(-5deg);
            transform: translateX(-25%) rotate(-5deg);
          }

          30% {
            -webkit-transform: translateX(20%) rotate(3deg);
            -ms-transform: translateX(20%) rotate(3deg);
            transform: translateX(20%) rotate(3deg);
          }

          45% {
            -webkit-transform: translateX(-15%) rotate(-3deg);
            -ms-transform: translateX(-15%) rotate(-3deg);
            transform: translateX(-15%) rotate(-3deg);
          }

          60% {
            -webkit-transform: translateX(10%) rotate(2deg);
            -ms-transform: translateX(10%) rotate(2deg);
            transform: translateX(10%) rotate(2deg);
          }

          75% {
            -webkit-transform: translateX(-5%) rotate(-1deg);
            -ms-transform: translateX(-5%) rotate(-1deg);
            transform: translateX(-5%) rotate(-1deg);
          }

          100% {
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
          }
        }

        @-webkit-keyframes swing {
          20% {
            -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
          }

          40% {
            -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
          }

          60% {
            -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
          }

          80% {
            -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
          }

          100% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
          }
        }

        @keyframes swing {
          20% {
            -webkit-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
            transform: rotate(15deg);
          }

          40% {
            -webkit-transform: rotate(-10deg);
            -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
          }

          60% {
            -webkit-transform: rotate(5deg);
            -ms-transform: rotate(5deg);
            transform: rotate(5deg);
          }

          80% {
            -webkit-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
          }

          100% {
            -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
            transform: rotate(0);
          }
        }

        @-webkit-keyframes tada {
          0% {
            -webkit-transform: scale(1);
            transform: scale(1);
          }

          10%,
          20% {
            -webkit-transform: scale(0.9) rotate(-3deg);
            transform: scale(0.9) rotate(-3deg);
          }

          30%,
          50%,
          70%,
          90% {
            -webkit-transform: scale(1.1) rotate(3deg);
            transform: scale(1.1) rotate(3deg);
          }

          40%,
          60%,
          80% {
            -webkit-transform: scale(1.1) rotate(-3deg);
            transform: scale(1.1) rotate(-3deg);
          }

          100% {
            -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
          }
        }

        @keyframes tada {
          0% {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
          }

          10%,
          20% {
            -webkit-transform: scale(0.9) rotate(-3deg);
            -ms-transform: scale(0.9) rotate(-3deg);
            transform: scale(0.9) rotate(-3deg);
          }

          30%,
          50%,
          70%,
          90% {
            -webkit-transform: scale(1.1) rotate(3deg);
            -ms-transform: scale(1.1) rotate(3deg);
            transform: scale(1.1) rotate(3deg);
          }

          40%,
          60%,
          80% {
            -webkit-transform: scale(1.1) rotate(-3deg);
            -ms-transform: scale(1.1) rotate(-3deg);
            transform: scale(1.1) rotate(-3deg);
          }

          100% {
            -webkit-transform: scale(1) rotate(0);
            -ms-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
          }
        }

        @-webkit-keyframes shake {

          0%,
          100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }

          10%,
          30%,
          50%,
          70%,
          90% {
            -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
          }

          20%,
          40%,
          60%,
          80% {
            -webkit-transform: translateX(10px);
            transform: translateX(10px);
          }
        }

        @keyframes shake {

          0%,
          100% {
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
          }

          10%,
          30%,
          50%,
          70%,
          90% {
            -webkit-transform: translateX(-10px);
            -ms-transform: translateX(-10px);
            transform: translateX(-10px);
          }

          20%,
          40%,
          60%,
          80% {
            -webkit-transform: translateX(10px);
            -ms-transform: translateX(10px);
            transform: translateX(10px);
          }
        }