    @media (min-width: 768px) {

      #HEADLINE4,
      #IMAGE4,
      #IMAGE6,
      #IMAGE8,
      #IMAGE9,
      #HEADLINE12,
      #HEADLINE13,
      #IMAGE29,
      #IMAGE30,
      #IMAGE31,
      #IMAGE32,
      #IMAGE33,
      #IMAGE34,
      #IMAGE35,
      #IMAGE36,
      #IMAGE37,
      #IMAGE38,
      #IMAGE39,
      #IMAGE40,
      #IMAGE41,
      #IMAGE42,
      #IMAGE43,
      #IMAGE44,
      #IMAGE45,
      #IMAGE46,
      #IMAGE51,
      #IMAGE52,
      #GROUP4,
      #IMAGE67,
      #IMAGE68,
      #HEADLINE23,
      #HEADLINE24,
      #HEADLINE25,
      #IMAGE70,
      #BOX6,
      #IMAGE77,
      #IMAGE80,
      #HEADLINE34,
      #HEADLINE35,
      #IMAGE86,
      #IMAGE71,
      #IMAGE108,
      #BOX28,
      #BOX29,
      #BOX30,
      #BOX31,
      #SHAPE29,
      #BUTTON65,
      #HEADLINE77,
      #SHAPE32,
      #GROUP137,
      #SHAPE34,
      #IMAGE133,
      #GROUP138,
      #SHAPE35,
      #IMAGE134,
      #GROUP139,
      #SHAPE36,
      #IMAGE135,
      #GROUP140,
      #IMAGE138,
      #IMAGE139,
      #IMAGE140 {
        opacity: 0 !important;
        pointer-events: none !important;
      }
    }

    @media (max-width: 767px) {

      #HEADLINE4,
      #IMAGE4,
      #IMAGE6,
      #IMAGE8,
      #IMAGE9,
      #HEADLINE12,
      #HEADLINE13,
      #IMAGE29,
      #IMAGE30,
      #IMAGE31,
      #IMAGE32,
      #IMAGE33,
      #IMAGE34,
      #IMAGE35,
      #IMAGE36,
      #IMAGE37,
      #IMAGE38,
      #IMAGE39,
      #IMAGE40,
      #IMAGE41,
      #IMAGE42,
      #IMAGE43,
      #IMAGE44,
      #IMAGE45,
      #IMAGE46,
      #IMAGE51,
      #IMAGE52,
      #GROUP4,
      #IMAGE67,
      #IMAGE68,
      #HEADLINE23,
      #HEADLINE24,
      #HEADLINE25,
      #IMAGE70,
      #BOX6,
      #IMAGE77,
      #IMAGE80,
      #HEADLINE34,
      #HEADLINE35,
      #IMAGE86,
      #IMAGE71,
      #IMAGE108,
      #BOX28,
      #BOX29,
      #BOX30,
      #BOX31,
      #SHAPE29,
      #BUTTON65,
      #HEADLINE77,
      #SHAPE32,
      #SHAPE34,
      #IMAGE133,
      #SHAPE35,
      #IMAGE134,
      #SHAPE36,
      #IMAGE135,
      #IMAGE138,
      #IMAGE139,
      #IMAGE140 {
        opacity: 0 !important;
        pointer-events: none !important;
      }
    }
