    @media (min-width: 768px) {

      #IMAGE2,
      #IMAGE3,
      #HEADLINE3,
      #HEADLINE4,
      #IMAGE5,
      #IMAGE6,
      #IMAGE7,
      #IMAGE8,
      #IMAGE9,
      #IMAGE10,
      #HEADLINE5,
      #HEADLINE6,
      #HEADLINE11,
      #GROUP4,
      #IMAGE16,
      #GROUP9,
      #GROUP10,
      #IMAGE19,
      #GROUP11,
      #IMAGE20,
      #IMAGE21,
      #GROUP12,
      #IMAGE22,
      #IMAGE24,
      #GROUP13,
      #IMAGE26,
      #IMAGE27,
      #IMAGE28,
      #IMAGE29,
      #IMAGE30,
      #IMAGE31,
      #IMAGE32,
      #IMAGE33,
      #IMAGE34,
      #IMAGE35,
      #IMAGE36,
      #IMAGE37,
      #IMAGE42,
      #SHAPE4,
      #SHAPE5,
      #SHAPE6,
      #SHAPE7,
      #IMAGE59,
      #IMAGE66,
      #IMAGE69,
      #IMAGE70,
      #IMAGE71 {
        opacity: 0 !important;
        pointer-events: none !important;
      }
    }

    @media (max-width: 767px) {

      #IMAGE2,
      #IMAGE3,
      #HEADLINE3,
      #HEADLINE4,
      #IMAGE5,
      #IMAGE6,
      #IMAGE7,
      #IMAGE8,
      #IMAGE9,
      #IMAGE10,
      #HEADLINE5,
      #HEADLINE6,
      #HEADLINE11,
      #GROUP4,
      #IMAGE16,
      #GROUP9,
      #GROUP10,
      #IMAGE19,
      #IMAGE20,
      #IMAGE21,
      #IMAGE22,
      #IMAGE24,
      #IMAGE26,
      #IMAGE27,
      #IMAGE28,
      #IMAGE29,
      #IMAGE30,
      #IMAGE31,
      #IMAGE32,
      #IMAGE33,
      #IMAGE34,
      #IMAGE35,
      #IMAGE36,
      #IMAGE37,
      #IMAGE42,
      #SHAPE4,
      #SHAPE5,
      #SHAPE6,
      #SHAPE7,
      #IMAGE59,
      #IMAGE66,
      #IMAGE69,
      #IMAGE70,
      #IMAGE71 {
        opacity: 0 !important;
        pointer-events: none !important;
      }
    }
